[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pep8 = "*"

[packages]
torrentsearchengine = {editable = true,path = "."}

[requires]
python_version = "3.5"
